@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Open+Sans:wght@400;600;700&display=swap');

.wrapper{
}

h1{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.2px;
}

h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;

}

h3{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

h5{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

h6{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}

text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}

.button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;

}

.header {
    display: flex;
    flex-direction: column;
    background: url(../img/header/cover.jpg) no-repeat top center / cover;
    .header__row {
        display: flex;
        margin: 0 60px;
        align-items: center;
        height: 104px;
        .header__logo {
            margin-left: 136px;
            flex: 1 1 auto;
            .logo__title {
                width: 104px;
                height: 32px;
                color: #252B42;
            }
        }
        .header__navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            .navbar__links{
                margin-right: 42px;
                .navbar__link {
                    margin-right: 26px;
                    height: 24px;
                    color: #737373;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .header__button_loupe {
                margin-right: 22px;
                width: 20px;
                height: 20px;
            }
            .header__button_buscet {
                width: 16px;
                height: 14.93px;
            }
        }
        .header__toogler {
            margin-left: 141px;
            flex: 0 0 165px;
            .toogler__button {
            }
        }
    }
    .header__body {
        display: flex;
        .header__column {
            .header__title {
                margin-top: 154px;
                width: 509px;
                height: 195px;
                color: #252B42;
            }
            .header__text {
                margin: 35px 0;
                width: 376px;
                height: 60px;
                color: #737373;
            }
            .column__buttons{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 10px;
                width: 347px;
                height: 48px;
                .header__button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 36px;
                    width: 182px;
                    height: 48px;
                    background: #784F33;
                    border-radius: 37px;
                    color: #FFFFFF;
                    span{
                        width: 110px;
                        height: 28px;
                    }
                }
                .not_active {
                    background: none;
                    color: #784F33;
                    border: 1px solid #784F33;
                    border-radius: 37px;
                    width: 155px;
                    height: 48px;
                    span{
                        width: 83px;
                        height: 28px;
                    }       
                }
            }
            img{
                height: 100%;
            } 
        }
    }
}

.areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;
    .areas__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;
        margin-bottom: 80px;
        .areas__title {
            color: #252B42;
        }
        .areas__text {
            color: #737373;
            text-align: center;
        }
    }
    .areas__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 30px;
        width: 1046px;
        height: 147px;
        .row__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 40px;
            width: 328px;
            height: 147px;
            background: #F9F9F9;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            .item__img {
                width: 53px;
                height: 53px;
                margin-bottom: 15px;
            }
            .item__text {
                width: 124px;
                height: 24px;
            }
        }
        .reverse_color{
            background: #252B42;
            .item__text {
                color: #FFFFFF;
            }
        }
    }
}

.advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    background: #FAFAFA;
    .advice__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 0px;
        .advice__title {
            color: #252B42;
        }
        .advice__text {
            color: #737373;
            text-align: center;
        }
    }
    .advice__body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        .advice__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            width: 238px;
            height: 317px;
            .item__wrap{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 230px;
                height: 317px;
                background: #FFFFFF;
                .item__content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 30px;
                    gap: 15px;
                    width: 232px;
                    height: 179px;
                    h5{
                        color: #252B42;
                        text-align: left;
                    }
                    p{
                        color: #737373;
                    }
                }
            }
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0px;
    gap: 100px;
    .about__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 296px;
        gap: 15px;
        .about__title {
            color: #252B42;
        }
        .about__text {
            color: #737373;
            text-align: center;
        }
    }
    .about__body {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 120px;
        .about__img {
            padding: 0px;
            gap: 35px;
            width: 600px;
            height: 442px;
            background: url(../img/about/cover.jpg);
            .img__filter{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
                .img__wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    width: 597px;
                    height: 442px;
                    .about__button{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 34.8px 36.8px;
                        background: #295C7A;
                        border-radius: 73.6px;
                        width: 97.6px;
                        height: 98.4px;
                    }
                }
            }
        }
        .about__column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;
            width: 333px;
            height: 424px;
            .column__header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 0px;
                gap: 10px;
                width: 321px;
                height: 210px;
                h2{
                    width: 321px;
                    height: 100px;
                    color: #252B42;
                }
                p{
                    width: 306px;
                    height: 60px;
                    color: #737373;
                }
            }
            .column__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                width: 333px;
                height: 77px;
                border-radius: 9px;
                .item__row {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 20px;
                    width: 325px;
                    height: 77px;
                    img{
                        width: 32px;
                        height: 32px;
                    }
                    .item__text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 5px;
                        width: 273px;
                        height: 77px;
                        h5{
                            width: 273px;
                            height: 48px;
                            color: #252B42;
                            text-align: left;
                        }
                        h6{
                            width: 216px;
                            height: 24px;
                            color: #737373;
                        }
                    }
                }
            }
        }
    }
}

.clients {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FAFAFA;
    .clients__brands {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px 0px;
        gap: 30px;
        .brand__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
        } 
    }
    .clients__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        .clients__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            width: 986px;
            height: 124px;
            .row__wrap{
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 30px 50px;
                background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
                border-radius: 2px;
                height: 124px;
                .row__item{
                    width: 986px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;
                    height: 64px;
                    .clients__title {
                        color: #FFFFFF;
                        flex: 0 0 253px;
                    }
                    .clients__input_group {
                        border: 1px solid #E6E6E6;
                        border-radius: 5px;
                        flex: 0 0 450px;
                        display: flex;
                        input{
                            flex: 1 1 auto;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            background: #F9F9F9;
                            color: #737373;
                            font-size: 14px;
                            line-height: 28px;
                            letter-spacing: 0.2px;
                            padding: 15px 0;
                            padding-left: 20px;
                        }
                        .clients__button {
                            flex: 0 0 117px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            background: #D0A144;
                            .button__text {
                                color: #FFFFFF;
                            }
                        }    
                    }
                }
            }
        }
    }

    .clients__footer{
        background-color: #252B42;
        position: absolute;
        height: 77px;
        width: 100%;
        bottom: 0;
    }
}

.contacts {
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    .contacts__body {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 309.5px;
        .contacts__title{
            color: #252B42;
        }
        .contacts__text{
            color: #737373;
            text-align: center;
        }
    }
    .contacts__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        .contacts__item {
            flex: 1 1 auto;
            .item__wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px 40px;
                background: #FFFFFF;
                height: 333px;
                img{
                    width: 72px;
                    height: 72px;
                }
                .contacts__button{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 20px;
                    border: 1px solid #D0A144;
                    border-radius: 5px;
                    .button__text{
                        color: #D0A144;
                    }
                }
                &>*{
                    margin-bottom: 15px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .reverse_color{
                height: 393px;
                background: #252B42;
                color: #FFFFFF;
                h5{
                    color:#FFFFFF;
                }
            }
        }
    }
}

.footer {
    background: #FAFAFA;
    .footer__row{
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 360px;
            .footer__main {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 40px 0px;
                .footer__title {
                    color: #252B42;
                    margin-bottom: 10px;
                }
                .footer__text {
                    color: #737373;
                }
            }
            .footer__button {
                background: #784F33;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px 40px;
                gap: 10px;
                .button__text{
                    color: #FFFFFF;
                }
            }
        }
    }  
    .footer__columns {
        background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
        .container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 0px;
            color:#FFFFFF;
            .columns__row {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 30px;
                .columns__column{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 20px;
                    h5{
                        color: #FFFFFF;
                    }
                    .footer__links {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        margin-right: 30px;
                        gap: 10px;
                        .footer__contacts{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            gap: 10px;
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer__rights {
        .container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 25px 0px;
            .rights__row{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                .rights__title {
                    color: #737373;
                    margin-right: 504px;
                }
                .footer__social {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px;
                    .social__wrap{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 20px;
                        .social__link {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        
    }    
}





